@keyframes float-up-down {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -57%); /* Moves up */
  }
  100% {
    transform: translate(-50%, -50%); /* Moves back down */
  }
}

@keyframes float-down-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* Moves down */
  }
  100% {
    transform: translateY(0); /* Moves back up */
  }
}

.float-chair {
  animation: float-up-down 3s ease-in-out infinite;
}

.float-chair-opposite {
  animation: float-down-up 2s ease-in-out infinite;
}

.hero-main{
  font-family: "Rozha One", sans-serif;
  height: calc(100vh - 25rem);
  font-size: 4rem;
  position: relative;
  text-transform: uppercase;
  z-index: 10;
  text-align: center;
  line-height: 3.5rem;
}
.outline {
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  z-index: 20;
}
.outline-none{
  -webkit-text-stroke-width: 0;
  color: rgba(242, 17, 112, 1);
}
.sofa {
  position: absolute;
  z-index: 11;
  width: 100%;
  max-width: 650px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  -webkit-box-reflect: below 35px ;
}

.pink{
  color: rgba(242, 17, 112, 1);
}
.gray{
  color: rgba(0, 0, 0, 0.56);
  font-weight: bold;
  font-size: 1.24rem;
}
.cal-box {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

@media (min-width: 680px) {
  .hero-main{
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media (min-width: 768px) {
  .hero-main{
    font-size: 8rem;
    line-height: 6rem;
    height: calc(100vh - 12rem);
  }
  .cal-box {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 1024px) {
  .hero-main{
    font-size: 10rem;
    line-height: 7rem;
  }
}

@media (min-width: 1280px) {
  .hero-main{
    font-size: 15rem;
    line-height: 10rem;
  }
}