@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rozha One";
  src: url("/RozhaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Urbanist";
  src: url("/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Urbanist";
  src: url("/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Urbanist";
}


